<div class="row" style="padding-top: 10%;">
	<div class="col"></div>
	  <div class="col-md-4">

	    <h4 class="login">Please Sign In</h4>
	      <div class="pole">
	      <%= form_tag sessions_path do %>
	      <%= text_field_tag :userid, nil, placeholder: 'Input User Id' %><br>
	      <%= password_field_tag :password, nil, placeholder: 'Input Password' %>
	      <%= submit_tag 'Sign In', class: 'btn btn-md btn-info'  %>

	      <% end %>

	  </div>

		<p class="login">
			<%= link_to 'Movies', movies_path, class: 'btn btn-md btn-info' %>
			<%= link_to 'Home', root_path, class: 'btn btn-md btn-primary' %>
		</p>
	  </div>
	<div class="col"></div>
</div>

