<div class="row" style="padding-top: 30px;">
  <div class="col"> </div>
    <div class="col-md-10">

        <% if @actor.photo.present? %>
          <%= image_tag(@actor.photo.url, style: "width:50%;") %>
        <% end %> 

        <p>
          <strong>Name:</strong>
            <%= @actor.name %>
        </p>
          <p>
          <strong>Date:</strong>
            <%= @actor.birthday.strftime("%d.%m.%Y") %>
        </p>
        <p>
          <strong>Description:</strong>
            <%= @actor.description %>
        </p>
        <p>
        <p>
          <strong>Country:</strong>
            <%= @actor.country %>
        </p>
        <p>
          <strong>Created at:</strong>
            <%= @actor.created_at %>
        </p>
        <p>
          <strong>Updated at:</strong>
            <%= @actor.updated_at %>
        </p>

        <%= link_to 'Back', actors_path, class: 'btn btn-md btn-info' %>
    </div>
  </div>
  <div class="col"> </div>
</div>