<%= render 'common/errors', model: @movie %>

  <%= form_for @movie, html: {multipart: true} do |f| %>

    <div class="field" style="100%;">
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :premiere_date %><br>
        <%= f.date_field :premiere_date, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :length %><br>
        <%= f.number_field :length, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :description %><br>
        <%= f.text_area :description, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :genre %><br>
        <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
      <p>
        <%= f.label :director %><br>
        <%= f.collection_check_boxes :director_ids, Director.all, :id, :name %>  
      </p>
      <p>
        <%= f.label :scenarist %><br>
        <%= f.text_field :scenarist, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :actor %><br>
        <%= f.collection_check_boxes :actor_ids, Actor.all, :id, :name %>  
      </p>
      <p>
        <%= f.label :country %><br>
        <%= f.select :country, options_for_select(['Polska', 'Argentyna', 'Czechy', 'USA', 'Wielka Brytania', 'Francja', 'Niemcy']) %>
      </p>
        <%= f.hidden_field :user_id, value: session[:user_id] %>
      <p>
      <p>
        <%= f.label :trailer %><br>
        <%= f.file_field :movie, class: 'form-control' %>
      </p>
      <p>
        <%= f.submit class: 'btn btn-lg btn-success'%>
      </p>
    </div>
  <% end %>