
<h3>Look film</h3>

<p>
  <strong>Title:</strong>
  <%= @movie.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @movie.premiere_date.strftime("%d.%m.%Y") %>
</p>
<p>
  <strong>Length:</strong>
  <%= @movie.length %> minutes
</p>
<p>
  <strong>Description</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>
<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>
<p>
  <strong>Scenarist:</strong>
  <%= @movie.scenarist %>
</p>
<p>
  <strong>Country:</strong>
  <%= @movie.country %>
</p>
<p>
  <strong>Created at:</strong>
  <%= @movie.created_at %>
</p>
<p>
  <strong>Updated at:</strong>
  <%= @movie.updated_at %>
</p>



<%= link_to 'Back', movies_path  %>
<%= link_to 'Edit', edit_movie_path(@movie)  %>
<%= link_to 'Delete', movie_path(@movie), method: :delete, data: {confirm: "Are you sure?"} %>