<!DOCTYPE html>
<html>
  <head>
    <title>Moviesweb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="main">
    <%= render 'shared/navigation' %>
    <div class="container">
      <div class="jumbotron">
        <%= yield %>
      </div>  
    </div>
     <%= render 'shared/footer' %>
  </body>
</html>
